body{
    background-image: url("../../../public/pexels-leon-ardho-1552252.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overflow{
    max-width:100%;
    overflow: auto;
}